 body {
            text-align: center;
            font-family: Arial;
        }

        header {
            background-color: rgb(199, 157, 250);
            padding: 20px;
        }

        img {
            width: 300px;
            height: 300px;
            border: 3px solid red;
        }

        footer {
            background-color: rgb(199, 157, 250);
            padding: 20px;
        }

        #myName {
            font-family: Georgia, serif;
        } 
        
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100px;
            height: 200px;
            background-color: lightgray;
        }
        .left-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 100vh;    
}

.left-sidebar img {
    width: 130px;
    height: 100vh;
}

.right-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 100vh;
}

.right-sidebar img {
    width: 130px;
    height: 100vh;
    transform: scaleX(-1);
}
